<%- content_for :right do -%>
<div class="box blue-box">
	<p>Until you can get into our office click here for some tips to find relief from your Allergy &amp; Asthma symptoms. </p>
	<div class="foot"><a href="tips">FIND OUT HOW</a></div>
</div>
<%= render :partial => 'layouts/vcard' %>
<%- end -%>
<h1>Our goal is to bring you lasting relief through customized treatment plans and programs.</h1>

<h2>We provide evaluation and treatment for the following conditions:</h2>
<ul>
	<li>Nasal allergies</li>
	<li>Asthma, chronic cough, wheezing and shortness of breath</li>
	<li>Frequent ear infections </li>
	<li>Allergic skin conditions (i.e. eczema, contact dermatitis, hives)</li>
	<li>Chronic sinus infections</li>
	<li>Reactions to insect stings</li>
	<li>Itchy, watery eyes</li>
</ul>

<h2>Our highly qualified staff can also help with administering the below treatments or tests.</h2>
<ul>
	<li>Allergy injections for patients with high environmental allergies.</li>
	<li>Lung function testing to evaluate for asthma.</li>
	<li>Nebulizer treatments for patients with flares in asthma symptoms.</li>
	<li>Injections to reduce severe reactions to poison ivy and insect stings.</li>
</ul>


<h2>When is the right time to see an allergist?</h2> 

<p>Read further to investigate what a Board Certified allergist like Allergy and Asthma Care of Waco’s Dr. Daftary can help you with.</p>
<ul>
	<li>Allergists are able to diagnose patients accurately with respect to having allergic, non-allergic or mixed nasal symptoms and breathing difficulties. Appropriate therapy can therefore be recommended in consideration with patient needs.</li>
	<li>Allergists can customize immunotherapy (allergy injection serum), which in studies has shown to be more effective than low dose injections often used by general practice physicians who practice allergy.</li>
	<li>Allergists recommend avoidance measures, which is an important part in the overall prevention and treatment of allergy.</li>
	<li>Allergists improve quality of life and reduce health care costs.</li>
	<li>Allergists are internists, pediatricians or medical/pediatric physicians who do a subspecialty fellowship in allergy and immunology.</li>
</ul>
