<form id="contact-form" method="post" action="send_contact_form">
	<%= token_tag %>
	<p>
		<label for="contact_author">Your name</label>
		<input type="text" id="contact_author" name="contact[author]" value="" />
	</p>
	<script type="text/javascript" charset="utf-8">
		var contact_author = new LiveValidation('contact_author', {onlyOnBlur: true });
		contact_author.add(Validate.Presence, {"validMessage": ""});
	</script>
	<p>
		<label for="contact_author_email">Email Address</label>
		<input type="text" id="contact_author_email" name="contact[author_email]" value="" />
	</p>
	<script type="text/javascript" charset="utf-8">
		var contact_author_email = new LiveValidation('contact_author_email', {onlyOnBlur: true });
		contact_author_email.add(Validate.Presence, {"validMessage": ""});
	</script>
	<p>
		<label for="contact_subject">Subject</label> 
		<%= select_tag "contact[:subject]", options_for_select(options.map{|h| h.humanize}, params[:subject]) %>
  </p>	
	<p>
		<label for="contact_body">Your Message</label> 
		<textarea id="contact_body" name="contact[body]" rows=10></textarea>
	</p>
	<%# hidden_field_tag "contact[:to_field]", to %>
	<p><input type="submit" value="Send Your Message" /></p>
</form>