<% @page_title = 'About Us' %>
<%- content_for :head do -%>
<%= javascript_include_tag 'live_validation' %>
<%- end -%>
<h1>Who is Allergy And Asthma Care of Waco?</h1>

<h2>Our staff</h2>

<p><strong>Pramila K. Daftary, M.D.</strong> is board-certified in Allergy, Immunology, and Pediatrics.  She obtained her MBBS degree from Nagpur Medical College and completed her residency from Sir Harkisandas Hospital in Bombay, India, and Mt Sinai Hospital, Chicago, Illinois.  Dr. Daftary has been in practice for 28+ years in Waco, Texas. She is a fellowship member of American Board of Certified Allergists, American Academy of Allergy and Clinical Immunology, and American College of Allergy.  Dr. Daftary has been in medical research for 12 years.</p>

<p><strong>Patricia Tatum, RN, FNP-C.</strong> Patricia has been on staff with Allergy and Asthma Care of Waco for 2 years.  She provides direct patient care during re-testing at annual visits, follow-up visits and sick visits. Mrs. Tatum also participates in our clinical research studies as a Sub-Investigator.  She obtained her BSN degree from Baylor University in 1997 and her MSN degree from Texas A&amp;M Corpus Christi in 2006.</p>