<% @page_title = 'About Us' %>
<%- content_for :head do -%>
<%= javascript_include_tag 'live_validation' %>
<%- end -%>
<h1>Who is AACOW?</h1>

<h2>Our staff</h2>

<p><strong>Patricia Tatum, RN, FNP-C.</strong> Patricia has been on staff with Allergy and Asthma Care of Waco for 2 years.  She provides direct patient care during re-testing at annual visits, follow-up visits and sick visits. Mrs. Tatum also participates in our clinical research studies as a Sub-Investigator.  She obtained her BSN degree from Baylor University in 1997 and her MSN degree from Texas A&M Corpus Christi in 2006.</p>