<% @page_title = 'About Us' %>
<%- content_for :head do -%>
<%= javascript_include_tag 'live_validation' %>
<%- end -%>
<h1>Who is Allergy And Asthma Care of Waco?</h1>

<h2>Our staff</h2>

<div class="list_el">
<%= image_tag 'thumb_daftary.jpg' %>
<p href="#dr_daftary"><strong>Pramila K. Daftary, M.D.</strong> is board-certified in Allergy, Immunology, and Pediatrics.  She obtained her MBBS degree from Nagpur Medical College and completed her residency from Sir Harkisandas Hospital in Bombay, India, and Mt Sinai Hospital, Chicago, Illinois.  Dr. Daftary has been in practice for 28+ years in Waco, Texas. She is a fellowship member of American Board of Certified Allergists, American Academy of Allergy and Clinical Immunology, and American College of Allergy.  Dr. Daftary has been in medical research for 12 years.</p>
</div>

<div class="list_el">
<%= image_tag 'thumb_herman.jpg' %>
<p href="#dr_herman"><strong>Frederick F. Herman, M.D.</strong> FACAI, FAACA and Diplomat of American Board of Allergy and Immunology. Frederick Herman grew up in Los Angeles, California where he attended Loyola Marymount University.  Following medical school at St. Louis University he completed a Pediatric residency at UCLA Medical Center. This was followed by a Fellowship in Allergy/Clinical Immunology at Kaiser Foundation Hospital and an Allergy practice in Sacramento, where he practiced for 20 years. In this practice he was given the honor of “Best Physician”  by Sacramento Magazine every year. Asthma, Allergies, and Sinus Disease are his areas of interest were, not only being a sufferer himself, he has conducted research and published extensively in these areas. Dr. Herman is joining “Allergy &amp; Asthma Care of Waco as a new associate. </p>
</div>