<% @page_title = 'Welcome' %>
<%- content_for :right do -%>
<div class="box blue-box">
	<p>Our goal is to make sure every patient goes home happier and healthier.</p>
	<p class="note"><strong>Let us know how we are doing.</strong></p>
	<div class="foot"><a href="patients/satisfaction">SUBMIT FEEDBACK</a></div>
</div>
<%= render :partial => 'layouts/vcard' %>
<%- end -%>
<h1>Why Allergy and Asthma Care of Waco?</h1>
<p>Our primary goal is to improve your quality of life by determining what triggers your allergy or asthma symptoms, providing extensive education on how to modify your environment to better control exposure to those triggers and providing you with other treatment options such as medications or immunotherapy (allergy injections).</p>
<div class="info">
	<strong class="heading">Meet our doctors and staff:</strong>
	<ul class="link-list">
		<li><a href="/about_us">Pramila  K. Daftary, MD, FACAI, FAACA</a></li>
	</ul>
</div>
<div class="container">
	<div class="container-foot">
		<h2>LEARN MORE ABOUT ALLERGIES AND ASTHMA</h2>
		<div class="post">
			<div class="image-holder image-left"><a href="tips"><img src="images/img-photo-1.jpg" alt=""/></a></div>
			<h3 class="large"><a href="tips">Tips for allergy sufferers</a></h3>
			<p>Here are some useful tips for allergy sufferers to help alleviate the pitfalls of allergies.</p>
			<a href="tips" class="more">View tips for alleving allergies</a>
		</div>
		<div class="post">
			<div class="image-holder image-left"><a href="tips"><img src="images/img-photo-2.jpg" alt=""/></a></div>
			<h3><a href="tips">Why I should I see an Allergist?</a></h3>
			<p>Learn the facts about why seeing an Allergist can be beneficial to your overall health and well being.</p>
			<a href="tips" class="more">Learn the right time to see an allergist</a>
		</div>
		<div class="post">
			<div class="image-holder image-left"><a href="tips"><img src="images/img-photo-3.jpg" alt=""/></a></div>
			<h3><a href="#">Understanding Allergies &amp; Asthma</a></h3>
			<p>Asthma has often been described as a wheezing sound when you breathe, but asthma is so much more! </p>
			<a href="tips" class="more">Get the facts about asthma</a>
		</div>
	</div>
</div>
<div class="container small-container">
	<div class="container-foot">
		<h2>YOUR DAILY POLLEN COUNT</h2>
		<div class="view-box">
			<img src="images/img-replace.jpg" alt=""/>
			<a href="#" class="view">view</a>
			<p>View by:</p>
		</div>
	</div>
</div>