<% @page_title = 'Patients' %>
	<h1>New patients</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<div class="container large-container">
		<div class="container-foot">
			<h2>NEW PATIENT FORMS:</h2>
			<ul class="pdf-list">
				<li><a href="#">Form one</a></li>
				<li><a href="#">Form two</a></li>
			</ul>
		</div>
	</div>
	<h2>Insurance information</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<div class="lists">
		<ul class="list">
			<li><a href="#"> Insurance option 1</a></li>
			<li><a href="#"> Insurance option 2</a></li>
			<li><a href="#"> Insurance option 3</a></li>
			<li><a href="#"> Insurance option 4</a></li>
			<li><a href="#"> Insurance option 5</a></li>
		</ul>
		<ul class="list">
			<li><a href="#"> Insurance option 6</a></li>
			<li><a href="#"> Insurance option 7</a></li>
			<li><a href="#"> Insurance option 8</a></li>
			<li><a href="#"> Insurance option 9</a></li>
			<li><a href="#"> Insurance option 10</a></li>
		</ul>
		<ul class="list">
			<li><a href="#"> Insurance option 11</a></li>
			<li><a href="#"> Insurance option 12</a></li>
			<li><a href="#"> Insurance option 13</a></li>
			<li><a href="#"> Insurance option 14</a></li>
			<li><a href="#"> Insurance option 15</a></li>
		</ul>
	</div>
	<h2>Directions to our office</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>