<%= render :partial => 'subnav' %>
<% @page_title = 'FAQ' %>
<h1>FAQ</h1>
<p>Allergy  &amp; Asthma Care of Waco is a member of the American Academy of Allergy, Asthma and Immunology, which is the largest professional medical specialty organization representing allergists, clinical immunologists, allied health professionals and other physicians with a special interest in allergy. The AAAAI champions programs like the National Allergy Bureau™ to share valuable information about allergies and asthma. Education is key to improved treatment for those suffering from allergies and asthma.</p>
<h2><a name="allergies" class="anchor">Frequently Asked Questions about Allergies</a></h2>
<p>
	Allergic disease affects one out of six Americans, and costs millions of dollars in medications, physician services and missed days from school and work. Following are some common questions and answers on allergy. If you have any other questions not addressed here or if you need additional information about a related topic, please visit the Academy’s Web site, for information, and consult an allergist.
</p>
<table border="0" cellpadding="0" cellspacing="0" width="573">
	<tr>
		<td valign="top" width="42">
			»&nbsp;
		</td>
		<td valign="top" width="100%">
			<p align="left">
				<a href="#allergies">FAQs about allergies</a>
			</p>
		</td>
	</tr>
	<tr>
		<td valign="baseline" width="42">
			»&nbsp;
		</td>
		<td valign="top" width="100%">
			<p align="left">
				<a href="#pollen">FAQs about pollen</a>
			</p>
		</td>
	</tr>
	<tr>
		<td valign="baseline" width="42">
			»&nbsp;
		</td>
		<td valign="top" width="100%">
			<p align="left">
				<a href="#mold">FAQs about mold</a>
			</p>
		</td>
	</tr>
	<tr>
		<td valign="baseline" width="42">
			»&nbsp;
		</td>
		<td valign="top" width="100%">
			<p align="left">
				<a href="../media/resources/pollen_qa.stm">Q&amp;A for the media about pollen</a>
			</p>
		</td>
	</tr>
</table>
<ol>
	<li>
		<strong>What is an allergy?</strong><br>
		An allergy is an abnormal reaction to an ordinarily harmless substance called an allergen. When an allergen, such as pollen, is absorbed into the body of an allergic person, that person’s immune system views the allergen as an invader and a chain reaction is initiated. White blood cells of the immune system produce IgE antibodies. These antibodies attach themselves to special cells called mast cells, causing a release of potent chemicals such as histamine. These chemicals cause symptoms such as a runny nose, watery eyes, itching and sneezing.<br>
		<br>
	</li>
	<li>
		<strong>What are some common allergens?</strong><br>
		People can be allergic to one or several allergens. The most common include pollens, molds, dust mites, animal dander (dead skin flakes from animals with fur); foods; medications; cockroach droppings and insect stings.<br>
		<br>
	</li>
	<li>
		<strong>Is there only one type of allergic reaction?<br></strong> Allergic individuals can exhibit a variety of reactions depending on the allergen and the way it was absorbed into the body.<br>
		<br>
		<ol type="I">
			<li type="I">
				<strong>Seasonal allergic rhinitis</strong> sometimes called "hay fever" is caused by an allergy to the pollen of trees, grasses, weeds or mold spores. Depending on what you are allergic to, the section of the country and the pollination periods, seasonal allergic rhinitis may occur in the spring, summer or fall and may last until the first frost. The sufferer has spells of sneezing, itching and watery eyes, runny nose, burning palate and throat. Seasonal allergies also can trigger asthma.<br>
				<br>
			</li>
			<li>
				<strong>Allergic rhinitis</strong> is a general term used to apply to anyone who has symptoms of nasal congestion, sneezing and a runny nose due to allergies. This may be a seasonal problem as with hay fever, or it may be a year-round problem caused by indoor allergens such as dust mite droppings, animal dander, cockroach droppings or indoor molds/mildew. Frequently, this problem is complicated by sinusitis. Patients with constant nasal symptoms should consult their allergist.<br>
				<br>
			</li>
			<li>
				<strong>Eczema or atopic dermatitis</strong> is a non-contagious, itchy rash that often occurs on the hands, arms, legs and neck, although it can cover the entire body. This condition is frequently associated with allergies, and substances to which a person is sensitive may aggravate it.<br>
				<br>
			</li>
			<li>
				<strong>Contact dermatitis</strong> is a reaction affecting areas of the skin which become red, itchy and inflamed after contact with allergens or irritants such as plants, cosmetics, medications, metals and chemicals.<br>
				<br>
			</li>
			<li>
				<strong>Urticaria or hives</strong> are red, itchy, swollen areas of the skin that can vary in size and appear anywhere on the body. Approximately 25% of the U.S. population will experience an episode of hives at least once in their lives. Most common are <i>acute</i> cases of hives, where the cause is readily identifiable as a reaction to a viral infection, medication, food or latex. Some people have <i>chronic</i> hives that occur almost daily for months to years, with no identifiable trigger. <i>Angioedema</i> is a swelling of the deeper layers of the skin. It is not red or itchy, and most often occurs in soft tissue, such as the eyelids or mouth. Hives and angioedema may appear together or separately on the body.<br>
				<br>
			</li>
		</ol>
	</li>
	<li>
		<strong>What kind of a doctor is an allergist?<br></strong> An allergist/clinical immunologist is a Pediatrician or Internist who has undergone 2-3 years of special training in the diagnosis and treatment of allergic and immunologic diseases. To understand what you are allergic to, an allergist will take a personalized patient history, including a thorough record of the illness, family history, and home and work (school) environments; perform allergy testing, and possibly perform other laboratory tests. An allergist can create a management plan with you for better control of your environment. Your plan may also include proper medication and perhaps immunotherapy.<br>
		<br>
	</li>
	<li>
		<strong>What is Immunotherapy?<br></strong> Immunotherapy, or "allergy shots", is recommended for patients with moderate to severe allergy symptoms throughout most of the year, who do not respond adequately to medications, and whose symptoms are triggered by an allergen that is not easily avoided, such as pollens or house dust mites. Immunotherapy involves the injection of allergenic extracts (tiny amounts of allergens) that are given over a period of 3-5 years. By gradually increasing the amount of extract, tolerance to the offending allergen will increase, and the patient’s symptoms will be relieved.
		<p>
			Currently, immunotherapy is used to treat patients who are sensitive to inhaled allergens—pollens, molds, dander and house dust. Studies have also found immunotherapy to be extremely effective in many cases of stinging insect allergy as well. Immunotherapy for food allergies is not recommended because of the chance of a severe allergic reaction to the injection.<br>
			<br>
		</p>
	</li>
	<li>
		<strong>Will moving help my allergies?<br></strong> People with allergies have an inherited, genetic tendency to produce IgE, the allergic antibody, to many different substances such as seasonal allergens, (trees, grasses, weeds) or year-round allergens (dust mites, pet dander). When a person with allergies moves to another location, exposure to different allergens in the new location will likely result in a new set of allergy triggers, thereby trading one set of symptoms for another. In some cases, the benefits of a change in location may outweigh the negative aspects.
		<p>
			Before making a move to "get away from your allergies" consult with your allergist. Also, when contemplating a move, if possible, check out the new environment by visiting there for two to four weeks (or more) to see if your symptoms improve. Keep in mind it may take months or years to become allergic to a new allergen i.e., tree, grass or weed species.
		</p>
		<p>
			Seasonal allergy sufferers may be able to find temporary relief by taking a vacation during the height of the pollen season to a more pollen-free environment such as near large bodies of water.<br>
			<br>
		</p>
	</li>
	<li>
		<strong>Is it dangerous to do nothing about an allergy?<br></strong> In some cases, it is dangerous to ignore allergy symptoms. Severe and untreated hay fever may lead to asthma, sinusitis, and other serious conditions. Allergic dermatitis or eczema can spread to secondary infections if they are not treated properly, and untreated asthma can lead to chronic symptoms. Early detection and treatment of all allergic diseases is important.<br>
		<br>
	</li>
	<li>
		<strong>Can I ever be cured of my allergy?<br></strong> The tendency to have allergies is genetically inherited. Thus, instead of a cure, patients should work with their allergist to keep their allergies under control. Successful treatment of allergies includes early detection, proper usage of medications and simple allergen avoidance techniques.
	</li>
</ol>
<p>
	<h2><a name="pollen" class="anchor">Frequently Asked Questions about Pollen</a></h2>
	The American Academy of Allergy, Asthma and Immunology is the largest professional medical specialty organization representing allergists, clinical immunologists, allied health professionals and other physicians with a special interest in allergy. The AAAAI champions programs like the National Allergy Bureau™ to share valuable information about allergies and asthma. Education is key to improved treatment for those suffering from allergies and asthma.
</p>
<p>
	Allergic disease affects one out of six Americans, and costs millions of dollars in medications, physician services and missed days from school and work. Following are some common questions and answers on allergies and pollen counts. If you have any other questions not addressed here or if you need additional information about a related topic, please visit the Academy’s Web site for information, and consult an allergist.
</p>
<ol>
	<li>
		<strong>Can you recommend any medication for my allergies?<br></strong> The National Allergy Bureau™ does not offer medical advice. Please consult your allergist to discuss proper treatment of your allergy symptoms.<br>
		<br>
	</li>
	<li>
		<strong>How do you acquire pollen counts?<br></strong> The American Academy of Allergy, Asthma and Immunology has a network of pollen counters across the United States. Each counter works under the direction of an AAAAI member and must first pass a certification course provided through the AAAAI. Counters use air sampling equipment to capture air-borne pollens. The number of pollen grains collected are then counted and logged.<br>
		<br>
	</li>
	<li>
		<strong>When do pollen counting stations reopen for the spring?<br></strong> Pollen counting stations usually begin reporting in March and April, when pollen levels increase to measurable amounts. The opening date of each station differs slightly from year to year based on local weather conditions. Counting stations in warmer climates generally stay open year round.<br>
		<br>
	</li>
	<li>
		<strong>Why isn't a certain station counting?<br></strong> There are numerous reasons why pollen counting stations don't count, including technical difficulties with the pollen counting equipment; illness; temporary lack of staff; time away from the office or the station has closed for the season because pollens have diminished to virtually nonexistent levels.<br>
		<br>
	</li>
	<li>
		<strong>Why is there a disparity between two counting stations in the same city?<br></strong> There are a number of reasons that could explain the difference, including the time of day that the sample was taken; a change in temperature, wind conditions, humidity or precipitation; or differences in surrounding geography.
		<p>
			The time of day that aeroallergens are sampled can account for variances in the amount of pollen measured. Pollen concentrations are usually highest <!--between 5 a.m. and 10 a.m-->after the dew dries after sunrise to late morning. If one station samples at 8 a.m. and the other station samples at 2 p.m., there could be a significant difference in pollen concentration.
		</p>
		<p>
			Weather conditions also affect pollen levels. The most variant factors influencing different pollen counts from approximately the same region are wind, humidity, and the proximity of the sampling equipment to pollen producing vegetation.
		</p>
		<p>
			Because pollens are small, light and dry, they can be easily spread by wind, which keeps pollen airborne and carries it over long distances. If one station samples when the wind is strong and the other station samples when the wind is calm, there's bound to be a difference in the pollen levels.
		</p>
		<p>
			When the air is humid, such as during or after it rains, pollen becomes damp and heavy with moisture, keeping it still and on the ground. If one station samples right before a rain storm, and the other station samples just after it rains, there will probably be a significant difference in the concentration of pollen.
		</p>
		<p>
			Another reason to account for the difference is the proximity of the sampling equipment to pollen producing vegetation. Samples taken from an urban area, where there is little vegetation, will most likely differ from samples taken from a rural area, where there is more vegetation.<br>
			<br>
		</p>
	</li>
	<li>
		<strong>Is the pollen season the same from year to year?<br></strong> The beginning and ending times of tree, grass and weed pollen seasons are very similar from year to year in the same location. Intensity differs every year based on the previous year's weather, current weather and other environmental factors.<br>
		<br>
	</li>
	<li>
		<strong>Why isn't there a counting station in my area?<br></strong> The NAB is always working to add more counting stations. The NAB will continue its efforts to enlist additional volunteers to its network of certified counting stations so that most areas of the country are represented.<br>
		<br>
	</li>
	<li>
		<strong>If a station is x miles from my home, will the counts apply to my area?<br></strong> It's difficult to provide accurate pollen and spore levels for areas not near a pollen counting station. If the climate and geography are similar, chances are the figures reported by the station are a good indicator of conditions nearby.
	</li>
</ol>
<p>
	<h2><a name="mold" class="anchor">Frequently Asked Questions about Mold</a></h2>
</p>
<p>
	Understanding and eradicating molds: Several stories about Stachybotrys chartarum, a toxic mold, frequently appear in the media.
</p>
<p>
	For a detailed list of indoor and outdoor mold resources/links: <a href="http://www.aaaai.org/nab/index.cfm?p=mold_resources">http://www.aaaai.org/nab/index.cfm?p=mold_resources</a>
</p>
<ol>
	<li>
		<strong>What is mold?</strong><br>
		There are hundreds of thousands of types of molds. All are fungi, which means they are many-celled organisms that reproduce by sending tiny seeds called spores into the air. Molds need four things to grow: food, air, the right temperature and water. <strong>Although fungi grow naturally “outdoors",</strong> molds are very common in buildings and homes and will grow anywhere indoors where there is <strong>sufficient</strong> moisture. They like dark, damp, warm environments, and can grow on anything from basement walls to garbage pails to houseplants, <strong>and many building materials</strong>. <strong>Moisture can come from water damage, excessive humidity, water leaks, condensation, water infiltration, flooding, leaking roofs, leaky plumbing, sewer backups, and frequently overflowing washing machines.<br>
		<br></strong>
	</li>
	<li>
		<strong>What are the health concerns about molds?<br></strong> Mold and its spores <strong>contain</strong> allergens, meaning that in some people sensitivity to fungi (molds) can cause allergic reactions such as allergic rhinitis or asthma. Certain molds can cause infection, in the same way bacteria do. Molds may <strong>also</strong> produce musty odors known as volatile organic compounds that may cause irritation to the eyes, nose and throat. <strong><br>
		<br></strong>
	</li>
	<li>
		<strong>What is stachybotrys chartarum (Stachybotrys atra)?<br></strong> Stachybotrys chartarum (also known by its synonym Stachybotrys atra) is a <strong>slow growing,</strong> greenish-black mold <strong>that needs an environment of constant moisture.</strong> It grows only on wood, paper and cotton products and can be found in 2% to 5% of American homes. Under specific environmental conditions, Stachybotrys chartarum may produce several toxic chemicals called mycotoxins. These chemicals can be present in spores and small fungus fragments released into the air, but there is currently no evidence that these small levels of exposure are harmful to humans. <strong><br>
		<br></strong>
	</li>
	<li>
		<strong>What are the health effects of stachybotrys chartarum?</strong><br>
		If Stachybotrys chartarum spores are released into the air, there is a potential for humans to develop symptoms such as coughing, wheezing, runny nose, irritated eyes or throat, particularly <strong>if</strong> the person has developed an allergy to this fungus. Stachybotrys chartarum has been <strong>blamed for</strong> pulmonary hemosiderosis (bleeding in the lungs) in a small number of infants. <strong>However, experts claim that this is “not proved”.</strong> Other factors such as second-hand tobacco smoke may be more important. <strong><br>
		<br></strong>
	</li>
	<li>
		<strong>What should people do if they have stachybotrys chartarum in their building or home?<br></strong> Mold growing in homes and buildings, whether it is Stachybotrys chartarum or other molds, indicates that there is a problem with water or moisture<strong>, and this should be addressed immediately</strong>. <strong>Once mold starts to grow in insulation or wallboard the only way to deal with the problem is by removal and replacement. Mold under carpets typically requires that the carpets be removed. Walls and other hard surfaces can be cleaned with a weak bleach solution of 10 parts water to 1 part chlorine bleach</strong> <strong>to prevent mold growth only if done immediately after</strong> flooding has occurred. Moldy items should be thrown away. For more information on mold, visit the Environmental Protection Agency Web site, <a href="http://www.epa.gov/iaq/molds/moldresources.html" target="_blank">http://www.epa.gov/iaq/molds/moldresources.html</a>.
	</li>
</ol>
<p align="center">
	This FAQ section was edited for medical accuracy by Dr. Robert Bush of the AAAAI Aerobiology committee, on 12-07-04.
</p>

