<%= render :partial => 'subnav' %>
<% @page_title = 'Privacy and Patient Rights & Responsibilities' %>
<h1>Privacy and Patient Rights &amp; Responsibilities</h1>	

<h2>Purpose:</h2>
<p>This practice has a legal, ethical, and moral duty to protect patients’ rights. At the same time, our patients have a responsibility to participate in their care in an appropriate, reasonable manner.</p>
<h2>Policy:</h2>
<p>The attached Notice of Patient Rights and Responsibilities will be posted prominently in each treatment area as well as the waiting room of this facility.</p>
<p>A copy of the Notice of Patient Rights and Responsibilities will be provided to any patient, family member, or visitor upon request.</p>
<p>All employees will be familiar with these documents through training in the initial orientation process as well as ongoing in-service education at the direction of the office manager or designee.</p>
<p>Additional, specific rights associated with each patient’s right to privacy of his or her personal health information are listed in the separate Notice of Privacy Practices, as required by state and federal law. See Notice of Privacy Practices located in this manual.</p>