<%= render :partial => 'subnav' %>
<% @page_title = 'Tips' %>
<h1>Tips</h1>
<p>
	More than 50 million people in the United States suffer from allergies and/or asthma. Fortunately, there are many effective medications available to treat these conditions. The following information is intended to help asthma and allergy sufferers better understand the most commonly used types of medications. It is not intended as a specific recommendation for your treatment. You should consult your personal physician to choose the best treatment plan for control of your allergies and asthma.
</p>
<h2>
	<strong>Asthma and allergy medications</strong>
</h2>
<p>
	<strong>Antihistamines:</strong> If you have allergies, your physician may prescribe an antihistamine for treatment of allergic rhinitis ("hay fever") and other conditions such as hives. Antihistamines help prevent the effects of histamine-a chemical substance released by the body during an allergic reaction. By preventing the action of histamine the symptoms of the allergy can be reduced. Antihistamines are available in liquid, tablet or nasal spray form.
</p>
<p>
	Antihistamines are divided into:
</p>
	<ul>
		<li>"First generation, sedating:" these are known to cause drowsiness in some people
		</li>
		<li>"Second generation, low-sedating or non-sedating:" these have much less chance of causing drowsiness
		</li>
	</ul>
<p>
	Potential antihistamine side effects (most often associated with the "first generation" antihistamines):
</p>
	<ul>
		<li>Dry mouth
		</li>
		<li>Difficulty in urination (especially in men with prostate problems)
		</li>
		<li>Constipation
		</li>
		<li>Drowsiness
		</li>
		<li>In some children: nightmares, unusual jumpiness, restlessness, irritability
		</li>
	</ul>
<p>
	These symptoms are much less common with the "second generation" antihistamines. Discuss with your doctor the potential benefit of using an antihistamine versus the possible side effects.
</p>
<p>
	<strong>Decongestants:</strong> Decongestants reduce the nasal congestion and other symptoms associated with allergies. They work by constricting blood vessels, thereby decreasing the amount of fluid that leaks out into the lining of the nose which can cause congestion.
</p>
	<ul>
		<li>Available in liquid form, nasal spray and tablets.
		</li>
		<li>Most of these are available over-the-counter as well as by prescription.
		</li>
		<li>Very often antihistamines and decongestants are combined so that they may control more symptoms.
		</li>
	</ul>
<p>
	Potential side effects of decongestants:
</p>
	<ul>
		<li>Nervousness
		</li>
		<li>Sleeplessness
		</li>
		<li>Increased blood pressure or heart rate
		</li>
		<li>"Rebound rhinitis" can occur with the decongestant nasal spray form if used for more than three or four days in a row. This rebound will cause the nasal congestion to become more severe which may lead to becoming "dependent" upon the use of the medication.
		</li>
	</ul>
<p>
	<strong>"Controller" medications:</strong> The disease process underlying the symptoms of allergies and asthma includes swelling and mucous production in the lining of the nose and airways, caused by inflammation. There are three classes of medications that are used to treat allergies and asthma which can help prevent or reduce inflammation:
</p>
<ul>
	<li>
		<strong>Mast Cell Stabilizers:</strong> These are non-steroidal medications that help control inflammation by preventing the release of inflammatory chemicals.
	</li>
	<li style="list-style: none">
		<ul>
			<li>They include cromolyn and nedocromil and are available in various forms to treat allergic disease including rhinitis and asthma.
			</li>
			<li>Some of these medications are available "over the counter" for treatment of nasal allergies.
			</li>
		</ul>
	</li>
</ul>
<ul>
	<li>
		<strong>Corticosteroids:</strong> These are anti-inflammatory medications. When taken properly, they are very effective for treatment of asthma and allergies. <strong>These medications are very different from the anabolic steroids that are misused by some athletes.</strong>
	</li>
	<li style="list-style: none">
		<ul>
			<li>Corticosteroids are available in topical creams or ointments, nasal sprays, inhalers, pills and by injection.
			</li>
			<li>Corticosteroid use needs to be supervised by a physician.<br>
				<br>
				<strong>Oral corticosteroids:</strong>
			</li>
			<li>May be required to control severe asthma not stabilized by other medications.
			</li>
			<li>Oral corticosteroids are usually considered as <i>short-term</i> medications for asthma flare-ups, marked nasal congestion, and at times for skin conditions such as poison ivy.
			</li>
			<li>Side effects of short-term use may include weight gain, increased appetite, menstrual irregularities, muscle cramps, heartburn or irritation of the stomach lining. These side effects should go away shortly after stopping the corticosteroids.
			</li>
			<li>Long-term use (months to years) of oral corticosteroids may be associated with ulcers, weight gain, cataracts, decreased density of the bones, thinner skin and easy bruising, high blood pressure, elevated blood sugar, and potential decreased growth in children.<br>
				<br>
				<strong>Inhaled corticosteroids:</strong> Inhaled corticosteroids are considered the most effective medications for <i>long-term</i> control of persistent asthma. They provide good control of asthma with minimal effect on the rest of the body at usual doses.
			</li>
			<li>Minor side effects from using corticosteroid inhalers can include hoarseness and thrush (a fungal infection of the mouth and throat). Both are less likely if you gargle with water after use.
			</li>
			<li>Long-term use of inhaled corticosteroids in children could potentially result in transiently reduced growth velocity; however this tends to be minimal (approximately half an inch in the first year of use, generally without ongoing effect). In most cases the benefit of having the asthma controlled is far greater than the potential for any significant side effects.
			</li>
		</ul>
	</li>
</ul>
<ul>
	<li>
		<strong>Anti-Leukotrienes:</strong> Many of the cells involved in causing airway inflammation are known to produce potent chemicals within the body called <i>leukotrienes</i> (lu-ko-try-eens). Leukotrienes are responsible for increasing inflammation causing contraction of the airway muscle and swelling of the lining of the airways.
		<ul>
			<li>These drugs are primarily used to help gain control in patients with mild persistent asthma and in combination with inhaled corticosteroids in more moderate to severe disease.
			</li>
			<li>One is also approved to treat allergic rhinitis (montelukast).
			</li>
		</ul>
	</li>
</ul>
<p>
	<strong>Bronchodilators:</strong> The smooth muscle surrounding the airways can be constricted in people with asthma resulting in difficulty breathing. These medications relax this smooth muscle, helping to improve the air flow and relieve the tight breathing. There are several classes of bronchodilators available to treat asthma.
</p>
<p>
	<strong>Beta-agonist bronchodilators</strong> relax the smooth muscle surrounding the bronchial tubes.
</p>
<ul>
	<li>Short-acting beta-agonist bronchodilators are use d as quick-relief medications. These are available as inhalations, liquids, injectables and pills. (Albuterol and levalbuterol are two examples.) These agents usually take effect with minutes and last for up to 4-6 hours.
	</li>
	<li>Long-acting beta-agonists bronchodilators (salmeterol and formoterol) are use d for long-term control of asthma. The effect of these medications may last for up to 12 hours.
	</li>
	<li>Side effects of this class include nervousness, increased heart rate , restlessness, and insomnia, and rarely headaches.
	</li>
	<li>The FDA has issued a Public Health Advisory for the long-acting beta agonists that these agents may increase risk of severe, potentially life-threatening asthma flares in some patients. You should not change your medications without consulting your physician. Ask your doctor about the potential benefits and risks of these agents for control of your asthma.
	</li>
</ul>
<p>
	<strong>Theophylline</strong> has been used for over 30 years to treat asthma.
</p>
<ul>
	<li>These are available as tablets<strong>,</strong> capsules or intravenously .
	</li>
	<li>Blood levels should be monitored.
	</li>
	<li>Side effects can include headaches, elevated heart rate, stomach upset. Severe toxicity at higher than therapeutic blood levels can include seizures.
	</li>
</ul>
<p>
	<strong>Anticholinergic agents</strong> are available in inhaled form.
</p>
<ul>
	<li>These can be used alone or combined with the beta-agonist bronchodilators.
	</li>
	<li>Ipratropium may be used for asthma treatment, although its official use is for chronic obstructive pulmonary disease (COPD).
	</li>
	<li>Cough and headache can be side effects.
	</li>
</ul>
<p>
	<strong>Anti-IgE antibody:</strong> Omalizumab was approved in 2003 as a new class of therapy, known as "anti-IgE," for patients with moderate to severe persistent allergic asthma. It is currently approved only for use in treatment of asthma. IgE, an antibody that we all produce, is responsible for causing symptoms of allergic diseases, including allergic rhinitis ("hay fever") and asthma in some people. Anti-IgE may reduce allergic reactions by binding free IgE so that the bound IgE cannot produce the allergic reaction.
</p>
<p>
	Use of this medication should currently be limited to those patients with moderate to severe persistent allergic asthma who: 1) are inadequately controlled with appropriate combination therapy; 2) have complications due to inhaled or oral steroid use; 3) have increased urgent care, emergency department or inpatient service needs due to severe asthma exacerbations; 4) have significant problems with activities of daily living; or 5) do not tolerate other medications usually prescribed to treat asthma. Omalizumab needs to be administered every two to four weeks by injection based on body weight and total serum IgE levels.
</p>
	<h2>When to see an allergy/asthma specialist</h2>
<p>
The AAAAI's <i>How the Allergist/Immunologist Can Help: Consultation and Referral Guidelines Citing the Evidence</i> provide information to assist patients and health care professionals in determining when a patient may need consultation or ongoing specialty care by the allergist/immunologist. Patients should see an allergist/immunologist if they:
</p>
<ul>
	<li>Are not using medications as prescribed, and this is limiting their ability to control their asthma.
	</li>
	<li>Have potentially fatal asthma, meaning a prior severe, life threatening episode that included intubation.
	</li>
	<li>Have persistent asthma, particularly moderate-severe or uncontrolled persistent asthma.
	</li>
	<li>Need for daily asthma reliever medications.
	</li>
	<li>Would like to try to minimize their need for medications.
	</li>
</ul>
<p>
	<strong>Your allergist/immunologist can provide you with more information on asthma and allergy medications and overall measures to help control these diseases.</strong> They can prescribe medications that are the most effective for your specific condition. If you have side effects from any medications, be sure to contact your physician.
</p>
<p>
	<br>
	<strong><i>Tips to Remember</i> are created by the Public Education Committee of the American Academy of Allergy, Asthma and Immunology.</strong>
</p>
<p>
	These tips are for informational purposes only. It is not intended to replace evaluation by a physician. If you have questions or medical concerns, please <%= link_to "contact us", contact_us_path %>.
</p>