<h1>Editing research study</h1>
<div id='sub-nav'><%= link_to 'Back', admin_research_studies_path %></div>
<% form_for @research_study, :url => admin_research_study_path(@research_study), :html => {:class=>'horizontal'} do |f| %>
 <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>