<h1>Editing research stdy</h1>

<% form_for(@research_study) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @research_study %> |
<%= link_to 'Back', admin_research_studies_path %>