<h1>New research study</h1>

<% form_for :research_study, @research_study, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_research_studies_path %>