<h1>Listing employment opportunities</h1>

<table>
  <tr>
  </tr>

<% @employment_opportunities.each do |opportunity| %>
  <tr>
    <td><%= link_to 'Show', opportunity %></td>
    <td><%= link_to 'Edit', edit_admin_employment_opportunity_path(opportunity) %></td>
    <td><%= link_to 'Destroy', opportunity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New opportunity', new_admin_employment_opportunity_path %>