<div id="footer">
	<div class="holder">
		<strong class="slogan">Allergy and Asthma Care of Waco <em>Improving your quality of life.</em></strong>
		<ul>
			<li><%= link_to "Tips", patients_tips_path %></li>
			<li><%= link_to "FAQ", patients_faq_path %></li>
		</ul>
		<p>Copyright 2008 AACOW, LLC. All Rights Reserved</p>
	</div>
</div>