<div class="vcard">
	<a class="fn org url" href="#">AACOW</a>
	<h3>OUR OFFICES</h3>
	<h4>Location</h4>
	<div class="adr">
		<div class="street-address">3115 Pine Ave # 1008</div>
		<span class="locality">Waco,  76708</span>,
		<abbr class="region" title="Texas">TX</abbr>
		<span class="postal-code">76708</span>
		<a href="http://maps.google.com/maps?saddr=&amp;daddr=3115+Pine+Ave+%23+1008,+Waco,+TX+76708+(Allergy+%26+Asthma+Care+of+Waco)" target="_blank">Get directions</a>
	</div>
	<h4>Contact information</h4>
	<div class="tel">
		<span class="type">P:</span>(254) 753-3646
	</div>
	<div class="tel">
		<span class="type">F:</span>(XXX) XXX-XXXX
	</div>
	<div>E:
		<span class="email"><a onclick="javascript:alert('Allergy and Asthma Care of Waco does not use e-mail to conduct patient care. Please do not send patient information via e-mail. New and established patients may contact us by phone to discuss any concerns.')" href="mailto:info@aacow.com">info@aacow.com</a></span>
	</div>
</div>