<div class="vcard">
	<a class="fn org url" href="/">Allergy And Asthma Care of Waco</a>
	<h3>OUR OFFICES</h3>
	<h4>Location</h4>
	<div class="adr">
		<div class="street-address">221 Jewell Dr.</div>
		<span class="locality">Waco</span>,
		<abbr class="region" title="Texas">TX</abbr>
		<span class="postal-code">76712</span><br/>
		<a href="http://maps.google.com/maps?saddr=&amp;daddr=221+Jewell+Dr+%23,+Waco,+TX+76712+(Allergy+%26+Asthma+Care+of+Waco)" target="_blank">Get directions</a>
	</div>
	<h4>Contact information</h4>
	<div class="tel">
		<span class="type">P:</span>(254) 753-3646
	</div>
	<div class="tel">
		<span class="type">F:</span>(254) 753-1411
	</div>
	<div>E:
		<span class="email"><a onclick="javascript:alert('Allergy and Asthma Care of Waco does not use e-mail to conduct patient care. Please do not send patient information via e-mail. New and established patients may contact us by phone to discuss any concerns.')" href="mailto:info@aacow.com">info@aacow.com</a></span>
	</div>
</div>