<%= render :partial => "layouts/head" %>
<div id="content">
	<div class="holder">
		<div id="main-column">
			<%= yield %>
		</div>
		<div id="sidebar">
		 	<%= yield :right %>
		</div>
	</div>
</div>
<%= render :partial => 'layouts/footer' %>
</body>
</html>
